.about{
    display: flex;
    background-color: #EAF2FD;
    width: 100%;
    margin: 2rem 0;
}


@media screen and (min-width: 0){
    .about{
        padding-top: 1rem;
        padding-bottom: 6rem;
    }
}

@media screen and (min-width: 768px){
    .about{
        padding-top: 2rem;
        padding-bottom: 6rem;
    }
}

@media screen and (min-width: 992px){
    .about{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}