.academic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 0;
    width: 100%;
    background: #EAF2FD;
    padding-top: 4rem;
}