.skills__box{
    display: flex;
    flex-direction: column;
    width: 11rem;
    height: 11rem;
    background: #ffffff;
    margin-top: 2rem;
    align-items:flex-start ;
    justify-content: flex-end;
}