.skills__box{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    margin-top: 2rem;
    align-items:flex-start ;
    justify-content: flex-end;
}

@media screen and (min-width: 0){
    .skills__box{
        width: 9.75rem;
        height: 7.375rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 768px){
    .skills__box{
        width: 14rem;
        height: 7.375rem;
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 992px){
    .skills__box{
        width: 11rem;
        height: 10.875rem;
    }
}