.skills__title{
    font-family: raleway;
    font-weight: 700;
}

@media screen and (min-width: 0){
    .skills__title{
        font-size: 1.375rem;
    }
}

@media screen and (min-width: 768px){
    .skills__title{
        font-size: 1.375rem;
    }
}

@media screen and (min-width: 992px){
    .skills__title{
        font-size: 2rem;
    }
}