.skills__line{
    display: flex;
    padding-bottom: 2rem;
}

@media screen and (min-width: 0){
    .skills__line{
        flex-wrap: wrap;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: center;
    }
}

@media screen and (min-width: 768px){
    .skills__line{
        flex-wrap: wrap;
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        justify-content: center;
    }
}

@media screen and (min-width: 992px){
    .skills__line{
        flex-wrap: nowrap;
        width: 80%;
        justify-content: space-around;
    }
}