.academic__courses__item__subtitle{
    display: flex;
    font-family: raleway;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0;
    margin-left: 1rem;
}

.academic__courses__item__subtitle p{
    margin-top: 0;
}