.academic__courses__item__title{
    font-family: raleway;
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-left: 1rem;
}

.academic__courses__item__title h4{
    margin-bottom: 1rem;
}

@media screen and (min-width: 0){
    .academic__courses__item__title{
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px){
    .academic__courses__item__title{
        font-size: 1rem;
    }
}

@media screen and (min-width: 992px){
    .academic__courses__item__title{
        font-size: 1.375rem;
    }
}