.academic__courses__item__title{
    font-family: raleway;
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 0;
}

.academic__courses__item__title h4{
    margin-bottom: 1rem;
}