.formcontacto__img{
    display: flex;
    margin-right: .5rem;
}

@media screen and (min-width: 0){
    .formcontacto__img{
        display: none;
    }
}

@media screen and (min-width: 768px){
    .formcontacto__img{
        display: none;
    }
}

@media screen and (min-width: 992px){
    .formcontacto__img{
        display: flex;
    }
}