.formcontacto__title{
    margin-top: 0rem;
    margin-bottom: 0.25rem;
    font-family: raleway;
    font-size: 2rem;
    font-weight: 700;
}

@media screen and (min-width: 0){
    .formcontacto__title{
        font-size: 1.375rem;
    }
}

@media screen and (min-width: 768px){
    .formcontacto__title{
        font-size: 1.375rem;
    }
}

@media screen and (min-width: 992px){
    .formcontacto__title{
        font-size: 2rem;
    }
}