.formcontacto__input{
    margin-bottom: 2rem;
    font-family: raleway;
    font-size: 0.75rem;
    font-weight: 400;
    padding: 0 0.75rem;
    border-radius: 0.25rem;
    border-top: 0 none;
    border-right: 0 none;
    border-left: 0 none;
    border-bottom: 2px solid #C8C8C8;
}

.formcontacto__input:focus{
    border-bottom: 2px solid #2A7AE4;
}

@media screen and (min-width: 0){
    .formcontacto__input{
        height: 3.5rem;
        width: 17rem;
    }
}

@media screen and (min-width: 768px){
    .formcontacto__input{
        height: 3.5rem;
        width: 42.5rem;
    }
}

@media screen and (min-width: 992px){
    .formcontacto__input{
        height: 3.4375rem;
        width: 41rem;
    }
}