.menu__list__item__contato{
    font-family: raleway;
}

@media screen and (min-width: 0){
    .menu__list__item__contato{
        font-size: 0.875rem;
        font-weight: 400;
    }
}

@media screen and (min-width: 768px){
    .menu__list__item__contato{
        font-size: 1rem;
        font-weight: 700;
    }
}

@media screen and (min-width: 992px){
    .menu__list__item__contato{
        font-size: 1rem;
        font-weight: 700;
    }
}