.menu__header{
    display: flex;
    height: 1rem;
    align-items: center;
    margin-top: 1.5rem;
}

@media screen and (min-width: 0){
    .menu__header{
        margin-left: 1rem;
    }
}

@media screen and (min-width: 768px){
    .menu__header{
        margin-left: 2rem;
    }
}