.menu__list{
    display: flex;
    margin-top: 1.5rem;
}

@media screen and (min-width: 0){
    .menu__list{
        margin-right: 1rem;
    }   
}

@media screen and (min-width: 768px){
    .menu__list{
        margin-right: 2rem;
    }   
}

@media screen and (min-width: 992px){
    .menu__list{
        margin-right: 1rem;
    }    
}