.experience__demo{
    display: flex;
}

.experience__botao--demo{
    background-color: #2A7AE4;
    color: #ffffff;
    height: 3.1875rem;
    width: 6.5625rem;
    border-color: #2A7AE4;
    font-family: raleway;
    font-size: 1rem;
    font-weight: 400;
}