.experience__demo{
    display: flex;
}

.experience__botao--demo{
    background-color: #2A7AE4;
    color: #ffffff;
    height: 3.1875rem;
    width: 6.5625rem;
    border-color: #2A7AE4;
    font-family: raleway;
    font-size: 1rem;
    font-weight: 400;
}

@media screen and (min-width: 0){
    .experience__botao--demo{
        height: 2.5rem;
        width: 6rem;
        font-size: 0.875rem;
    }
}

@media screen and (min-width: 768px){
    .experience__botao--demo{
        height: 2.5rem;
        width: 6rem;
        font-size: 0.875rem;
    }
}

@media screen and (min-width: 992px){
    .experience__botao--demo{
        height: 3.1875rem;
        width: 6.5625rem;
        font-size: 1rem;
    }
}