.title__profile{
    display: flex;
    border-radius: 50%;
}

@media screen and (min-width: 0){
    .title__profile{
        width: 98px;
        height: 98px;
        margin-left: 1rem;
        margin-right: 15.375rem;
    }
}

@media screen and (min-width: 768px){
    .title__profile{
        width: 148px;
        height: 148px;
        margin-right: 2rem;
    }
}

@media screen and (min-width: 992px){
.title__profile{
        width: 368px;
        height: 368px;
        margin-right: 9.5rem;
    }
}