.about__title{
    font-family: raleway;
    font-weight: 700;
    margin-bottom: 1rem;
}

@media screen and (min-width: 0){
    .about__title{
        font-size: 1.375rem;
    }
}

@media screen and (min-width: 768px){
    .about__title{
        font-size: 1.375rem;
    }
}

@media screen and (min-width: 992px){
    .about__title{
        font-size: 2rem;
    }
}